<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BazaarStockSetContainer" connectionString="metadata=res://*/BazaarStockSet.csdl|res://*/BazaarStockSet.ssdl|res://*/BazaarStockSet.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DE6-NB-PE017\SQLEXPRESS;initial catalog=BazaarTbl;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>