<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBasarCom" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://de6-nb-pe017:1353/DeVes.Bazaar.Integrator/IBasarCom"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBasarCom"
                contract="BasarComServiceReference.IBasarCom" name="BasicHttpBinding_IBasarCom" />
        </client>
    </system.serviceModel>
</configuration>
